<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DatabaseConnectionString"
			 connectionString="Data Source =DESKTOP-CQ32RTH; Initial Catalog=muebles_mssql; Encrypt=False; Integrated Security=true"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
